
<nav class="sidebar" aria-label="Primary navigation">
	<button type="button"
					class="sidebar__toggle"
					(click)="toggle()"
					[attr.aria-label]="collapsed ? 'Expand sidebar' : 'Collapse sidebar'"
					[attr.aria-pressed]="collapsed"
					title="Toggle sidebar">
		<svg class="sidebar__toggle-arrow" viewBox="0 0 24 24" aria-hidden="true">
			<path d="M9.4 6.4 8 7.8l4.2 4.2L8 16.2l1.4 1.4 5.6-5.6z" />
		</svg>
	</button>

	<div class="sidebar__scroll" #scrollRef>
	<ul class="sidebar__menu" role="list">
		<ng-container *ngFor="let group of menu">
			<li class="sidebar__section" [attr.aria-label]="group.label">{{ group.label }}</li>
			<li *ngFor="let item of group.items">
				<a [routerLink]="item.path" routerLinkActive="active" class="sidebar__link">
					<span class="sidebar__icon" aria-hidden="true">{{ item.icon }}</span>
					<span class="sidebar__label">{{ item.label }}</span>
				</a>
			</li>
		</ng-container>
	</ul>
	</div>
</nav>
